VITE_API_BASE_URL=http://localhost:8000
VITE_PDF_API_BASE_URL=http://127.0.0.1:8000
VITE_SUPABASE_URL=https://neftkcehylpevbewwnyx.supabase.-co
VITE_SUPABASE_ANON_KEY=sb_publishable_cyLWpHefl16F3cgg-PikfmQ_yimnKQRm
